<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {# jquery #}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

    {# jquery mobile #}
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css" />
    <script type="text/javascript" src="//code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

    <title>Страница не найдена</title>
</head>
<body>
<div data-role="page">

    <div data-role="header">
        <h1>Страница не найдена</h1>
    </div>

    <div role="main" class="ui-content">
        <p>Возможно что-то не работает. Отправьте нам письмо с описанием ваших действий, приведших к этой ошибке.
            Мы устраним ошибку как можно скорее.
            Приносим свои извинения за неудобства.</p>
    </div>

    <div data-role="footer">
        <h4><a href="{{ path('index') }}">{{ wapinet_title }}</a></h4>
    </div>
</div>
</body>
</html>
