{% extends "base.html.twig" %}

{% block title %}Bosch{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Сбрасывает язык меню на английский</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#0000#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Включает/выключает Enhaced Full Rate</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#3370#</p>
            <details>Улучшенное качество звука, но увеличивается расход аккумулятора.</details>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Установка SIM lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9000#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Ввод Corporate lock кода (Bosh 908)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9001#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Ввод Provider lock кода (Bosh 908)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9002#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Ввод Network lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9003#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Ввод Subset lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9004#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Снятие SIM lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9100#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Снятие Corporate lock кода (Bosh 908)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9101#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Снятие Provider lock кода (Bosh 908)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9102#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Снятие Network lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9103#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Снятие Subset lock кода</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#9104#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Открытие инженерного меню</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#3262255*8378#</p>
        </div>
    </div>
{% endblock %}
