{% extends 'WapinetMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>Новое сообщение</h2>

{{ form_start(form, {'action': path('fos_message_thread_new'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Отправить" />
    </div>
{{ form_end(form) }}

{% endblock %}
