{% extends '@WapinetMessage/layout.html.twig' %}

{% block title %}Новое сообщение{% endblock %}

{% block fos_message_content %}
    {{ form_start(form, {'action': path('fos_message_thread_new'), 'method': 'POST'}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Отправить" />
        </div>
    {{ form_end(form) }}
{% endblock %}
