{% extends 'WapinetMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>Исходящие</h2>

{% include 'WapinetMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
