<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>
