# PHPStorm
.idea/

# Assets
/public/static/file/*
!public/static/file/index.html
/public/media/cache/resolve/thumbnail/static/*
!public/media/cache/resolve/thumbnail/static/index.html
/public/media/cache/thumbnail/static/*
!public/media/cache/thumbnail/static/index.html

# Composer PHAR
/composer.phar

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
