includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
    autoload_files:
        - bin/.phpunit/phpunit-8.3-0/vendor/autoload.php
    doctrine:
        objectManagerLoader: object-manager.php
