img.image_preview {
    width: 80px;
    height: auto;
}
img.avatar_login {
    width: auto;
    height: 15px;
}
p.footer {
    font-size: 0.8em;
    margin-left: 10px;
}
p.footer-right {
    font-size: 0.8em;
    float: right;
    margin-right: 10px;
}
fieldset.file_url {

}
p.container_preview {

}
div.rest_type {
    width: 25% !important;
}
div.rest_url {
    width: 75% !important;
}
