img.image-preview {
    width: 80px;
    height: auto;
}
img.avatar-login {
    width: auto;
    height: 15px;
}
p.footer {
    font-size: 0.8em;
    margin-left: 10px;
}
p.footer-right {
    font-size: 0.8em;
    float: right;
    margin-right: 10px;
}
fieldset.file-url {

}
p.container-preview {

}
div.rest-type {
    width: 25% !important;
}
div.rest-url {
    width: 75% !important;
}
code.html-validator strong {
    color: red;
}
p.long-description {
    white-space: pre-wrap;
}
li.menu-head {
    /* 40 - 7 - 7 + 1*/
    height: 27px;
}
a.captcha-reload {
    vertical-align: baseline;
}

div.avatar-popup, div.image-popup {

}
