{% extends "base.html.twig" %}

{% block title %}Архиватор{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('archiver_create') }}">Создать архив</a></li>
        <li><a href="{{ path('archiver_extract') }}">Распаковать архив</a></li>
    </ul>

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет управлять <em>7z, ZIP, GZIP, BZIP2, TAR, ARJ, CAB, CHM, CPIO, DEB, DMG, HFS, ISO, LZH, LZMA, MSI, NSIS, RAR, RPM, UDF, WIM, XAR, Z</em> архивами.</p>
        </div>
    </div>
{% endblock %}
