{% extends 'base.html.twig' %}

{% block title %}Редактирование профиля{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('wapinet_users'), 'title': 'Пользователи'},
    2: {'uri': path('wapinet_user_profile', {'username': app.user.username}), 'title': 'Профиль'}
    })}}
{% endblock %}


{% block content %}
    {{ form_start(form, {'action': path('wapinet_user_edit'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Изменить" />
    </div>
    {{ form_end(form) }}
{% endblock content %}

