{% extends "::base.html.twig" %}

{% block title %}Клиенты ICQ{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('icq_index'), 'title': 'Все об ICQ'}
    })}}
{% endblock %}

{% block content %}
        <strong>IM+</strong><br/><a rel="external" href="http://www.shape.ag/en/products/details.php?product=im&amp;platform=none">Официальный сайт</a><br/>Отличный мультипротокольный (Beep, Skype, ICQ, ВКонтакте, Mail.Ru Агент, Одноклассники) клиент дла множества платформ. Всем рекомендую.<br/><br/>
        <strong>Miranda NG</strong><br/><a rel="external" href="http://miranda-ng.org/">Официальный сайт</a><br/><a rel="external" href="http://miranda-ng.org/downloads/">Скачать последнюю версию</a><br/>Лучший мультипротокольный клиент для персональных компьютеров.<br/>
        <strong>Официальный клиент</strong><br/><a rel="external" href="http://www.icq.com/">Официальный сайт</a><br/><a rel="external" href="http://www.icq.com/download/mobile/ru">Скачать последнюю версию</a><br/>Официальный клиент для ICQ. Поддерживаеются все популярные платформы (Android, iOS, Windows Phone, Java, Symbian и др.).<br/>
{% endblock %}
