{% extends "::base.html.twig" %}

{% block title %}Клиенты ICQ{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('icq_clients'), 'title': 'Клиенты ICQ'}
    })}}
{% endblock %}

{% block content %}
        <strong>IM+</strong><br/><a href="http://www.shape.ag/en/products/details.php?product=im&amp;platform=none">Официальный сайт</a><br/>Отличный мультипротокольный (Beep, Skype, ICQ, ВКонтакте, Mail.Ru Агент, Одноклассники) клиент дла множества платформ. Всем рекомендую.<br/><br/>
        <strong>Pigeon</strong><br/><a href="http://pigeon.vpro.ru">Официальный сайт</a><br/><a href="http://pigeon.vpro.ru/download/PocketPC/pigeon.zip">Скачать последнюю версию</a><br/>Прекрасный ICQ/Jabber клиент дла КПК и Смартфонов.<br/><br/>
        <strong>Jimm RC</strong><br/><a href="http://jimm-rc.loc-id.ru/">Официальный сайт</a><br/><a href="http://jimm-rc.loc-id.ru/load/0-0-0-2-20">Скачать последнюю версию</a><br/>Прекрасный ICQ клиент на JAVA (JME).<br/><br/>
        <strong>Miranda NG</strong><br/><a href="http://miranda-ng.org/">Официальный сайт</a><br/><a href="http://miranda-ng.org/downloads/">Скачать последнюю версию</a><br/>Лучший мультипротокольный клиент для персональных компьютеров.<br/>
{% endblock %}