{% extends "::base.html.twig" %}

{% block title %}Disconnect (если не соединяется){% endblock %}

{% block content %}
    <div>Итак... У вас есть смартфон, Smaper, QIP, Jimm, AM, IM+ или какая нибудь другая программа для Вашего ICQ-общения, но у вас нет СОЕДИНЕНИЯ? :( Ваши попытки соединить тщетны? :( Вы пытаетесь поставить альтернативный IP адрес и у Вас ничего не выходит? Тогда Вам необходимо поставить в Ваш СМАРТФОН эту программу Поясню для чего она и как работает. Аська как правило не конектит при когда стоит фаервол , который блокирует адрес login.icq.com и/или порт 5190. Чтобы его обойти надо поменять в настройках ip login.icq.com и заменить порт. Для подбора ip устанавливаем выше изложенную программу , которая автоматически подберет наилучший ip для для соединения с сервером аськи . Открываем ее (программу) жмем ping , в открывшимся поле, удаляем появившийся www-адрес разработчика, пишем в нем login.icq.com и жмем Ok. После этого прога начинает соединять автоматически , за несколько секунд подбирает рабочий ip для Вашего оператора. Выглядит это примерно так : Reply from 200.153.64.121 : bytes=32 time=721ms TTL=69. Эту процедуру можно повторят несколько раз, и каждый раз программа будет выдавать новый ip который надо будет поставить вместо вашего login.icq.com (в нашем случае это будет 200.153.64.121)<br/></div>
{% endblock %}