{% extends "::base.html.twig" %}

{% block title %}Регистрация ICQ номера (UIN){% endblock %}

{% block content %}
    {% if result is not null %}
        ...
    {% else %}
        <p>
            Используйте данный сервис регистрации в ICQ только если у Вас нет возможности зарегистрироваться на <a href="http://www.icq.com/join/">официальном сайте</a>.<br/>
            Данный сервис не собирает информацию о зарегистрированных пользователях и не ведет никакой подобной статистики.<br/>
            При регистрации обязательно правильно указывайте email. Он будет использоваться в качестве Вашего логина. Так же на него придет ссылка для активации аккаунта, без активации регистрация завершена не будет.<br/>
        </p>

        {{ form_start(form, {'action': path('icq_registration'), 'method': 'POST'}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}