{% extends 'base.html.twig' %}

{% block content %}
    <p>
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                Авторизация
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Авторизация</a>
            {% endif %}
            |
            {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}
                Регистрация
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
            {% endif %}
        {% endif %}
    </p>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}{% endblock %}
{% endblock %}
