{% extends "base.html.twig" %}

{% block title %}О сайте{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    <p>
        Сайт <em>wapinet.ru</em> появился в 2006 году.<br />
        Был написан на <abbr title="Wireless Markup Language — язык разметки для беспроводных устройств">WML</abbr> без использования каких-либо скриптовых языков.<br />
        Постепенно сайт переписывался с использованием <abbr title="PHP: Hypertext Preprocessor — PHP: препроцессор гипертекста">PHP</abbr> и <abbr title="Extensible Hypertext Markup Language — расширяемый язык гипертекстовой разметки">XHTML</abbr>.<br />
        В 2013 году было решено полностью переписать сайт на новых (на тот момент) технологиях:<br />
        &#160;- фреймворк <a title="Веб фреймворк, написанный на PHP, который использует паттерн Model-View-Controller" rel="external" href="https://symfony.com">Symfony</a><br />
        &#160;- <abbr title="Прототипно-ориентированный сценарный язык программирования">JavaScript</abbr> фреймворк <a title="Cенсорно-ориентированный веб фреймворк" rel="external" href="https://jquerymobile.com">jQuery Mobile</a><br />
        Исходный код сайта распространяется под лицензией <a rel="external" href="https://spdx.org/licenses/GPL-3.0-or-later.html">GPL v3</a>. Репозиторий находится на <a rel="external" href="https://github.com/Gemorroj/wapinet">Github</a>.
    </p>

    <p>
        <img src="//php.net/images/logo.php?refresh" alt="PHP" style="max-width: 120px; max-height: 40px; margin: 10px" />
        <img src="//symfony.com/logos/symfony_black_02.png" alt="Symfony" style="max-width: 120px; max-height: 40px; margin: 10px" />
        <img src="//upload.wikimedia.org/wikipedia/commons/5/53/Jquery-mobile-logo.png" alt="jQuery Mobile" style="max-width: 120px; max-height: 40px; margin: 10px" />
    </p>
{% endblock %}
