{% extends "base.html.twig" %}

{% block title %}Motorola{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs({
        1: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    }) }}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Разблокировка</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>1234</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>IMSI</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>В функции TEST набрать 65#</p>
        </div>

        <div class="ui-bar ui-bar-a">
            <h3>Активация 100 ячеек памяти в телефоне</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp087p1p OK</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Активация инженерного меню</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp000p1p OK или ppp113p1p OK</p>
            <details>После набора кода перезагрузите телефон.</details>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Активация часов</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp123p1p OK</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Выбор сигнала приходящих SMS сообщений</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp276p1p OK</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Активация возможности отправки SMS сообщений из записной книги</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp272p1p OK</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Активация меню редактирования музыки</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp278p1p OK</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Ручное переключение диапазонов частот</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>ppp203p1p OK или ppp204p1p OK или ppp205p1p OK или ppp206p1p OK</p>
        </div>

        <div class="ui-bar ui-bar-a">
            <h3>Сервисное меню (Motorola Cxxx)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>Меню048263*<br/>
                На экране должно появиться приглашение для ввода команд: Opcode:__________<br/>
                Дальше можно вводить команды:<br/>
                54*0*0*0 - выбор тона 0<br/>
                54*0*0*1 - выбор тона 1<br/>
                54*0*0*2 - выбор тона 2<br/>
                54*0*0*3 - выбор тона 3<br/>
                54*0*0*4 - выбор тона 4<br/>
                54*0*0*5 - выбор тона 5<br/>
                54*0*0*6 - выбор тона 6<br/>
                54*0*0*7 - выбор тона 7<br/>
                54*0*0*8 - выбор тона 8<br/>
                54*0*0*9 - выбор тона 9<br/>
                54*0*0*124 - выбор тона 1 KHz<br/>
                54*0*0*125 - выбор тона 2 KHz<br/>
                54*0*0*126 - выбор тона 3 KHz<br/>
                54*0*0*127 - выбор тона 4 KHz<br/>
                54*0*1*X - отключение тона X<br/>
                54*3*0*1 - вкл vibrator<br/>
                54*3*0*0 - выкл vibrator<br/>
                54*4*3*1 - Enable speech coder full rate Audio loopback (включение FR)<br/>
                54*4*3*0 - Disable speech coder full rate (выключение FR)<br/>
                54*4*4*1 - Enable speech coder enhanced full rate (включение EFR)<br/>
                54*4*4*0 - Disable speech coder enhanced full rate (выключение EFR)<br/>
                54*4*5*1 - Enable speech coder half rate (включение HR)<br/>
                54*4*5*0 - Disable speech coder half rate (выключение HR)<br/>
                54*5*0*0 - уровень звука 0<br/>
                54*5*0*1 - уровень звука 1<br/>
                54*5*0*2 - уровень звука 2<br/>
                54*5*0*3 - уровень звука 3<br/>
                54*5*0*4 - уровень звука 4<br/>
                54*5*0*5 - уровень звука 5<br/>
                54*5*0*6 - уровень звука 6<br/>
                54*5*0*7 - уровень звука 7<br/>
                54*5*0*8 - уровень звука 8<br/>
                54*5*0*9 - уровень звука 9<br/>
                54*5*0*10 - уровень звука 10<br/>
                54*5*0*11 - уровень звука 11<br/>
                54*5*0*12 - уровень звука 12<br/>
                54*5*0*13 - уровень звука 13<br/>
                54*5*0*14 - уровень звука 14<br/>
                54*5*0*15 - уровень звука 15<br/>
                54*10*0*3 - диапазон GSM 900<br/>
                54*10*0*4 - диапазон DCS 1800<br/>
                54*10*0*5 - диапазон PCS 1900<br/>
                54*10*0*6 - диапазон GSM 900 / 1800<br/>
                54*10*1*0 - посмотреть используемый 3=GSM 4=DCS 5=PCS 6=GSM/DCS<br/>
                54*18*0 - полный сброс параметров (Master Reset)<br/>
                54*18*1 - полный сброс параметров с очисткой (Master Clear)<br/>
                54*55*2*001 - Тест дисплея. Все пиксели включены<br/>
                54*55*2*000 - Тест дисплея. Все пиксели выключены<br/>
                54*55*2*002 - Тест дисплея<br/>
                54*55*2*003 - Тест дисплея. Шахматная доска<br/>
                54*55*2*004 - Тест дисплея. Рамка<br/>
            </p>
        </div>

        <div class="ui-bar ui-bar-a">
            <h3>Код телефона (user), защитный код (security), IMEI телефона</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>В тест режиме<br/>
                32*4*1*0*0 "OK"<br/>
                Получаем: "Results"<br/>
                F1: 0 ; Код выполнения команды (0-Всё ОК)<br/>
                F2 (D): ; Данные<br/>
                083a05092700247709<br/>
                Расшифровываем: 08 -Обязательная шапка<br/>
                3a 05 09 27 00 24 77 09 - получаем IMEI - 350907200427799<br/>
                User code<br/>
                32*116*1*0*0<br/>
                Получаем: "Results"<br/>
                F1: 0<br/>
                F2 (D):<br/>
                00310032003300340000<br/>
                Расшифровываем:<br/>
                0031 - "1"<br/>
                0032 - "2"<br/>
                0033 - "3"<br/>
                0034 - "4"<br/>
                Security code - 32*118*1*0*0<br/>
                Изменять значения можно так:<br/>
                47*4*1*0*9*081A32547698103254 - IMEI=123456789012345<br/>
                Т.е. можно менять IMEI, User code, Security code прямо с клавиатуры<br/></p>
        </div>

        <div class="ui-bar ui-bar-a">
            <h3>Motorola E365</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>
                #02# - проверка версии<br/>
                #03# - мониторинг сети<br/>
                #04# - мониторинг батареи<br/>
                #09# - тест кнопок, звука, экрана<br/>
                **0101# - тест sim<br/>
                **0102# - fmgr format (форматирование)<br/>
                **0105# - engineer menu off<br/>
                **0106# - инженерное меню (шрифт не менять!!!)<br/>
                **0108# - failure counter (счетчик ошибок)<br/>
                *073887* - разблокировка sim. Пароль при вводе "000000"<br/>
            </p>
        </div>
    </div>
{% endblock %}
