{% extends '::base.html.twig' %}

{% block title %}Поиск - {{ name }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('siza_index'), 'title': 'Бесплатные загрузки'},
    3: {'uri': path('siza_search'), 'title': 'Поиск'}
    })}}
{% endblock %}

{% block content %}
    {{ content|raw }}

    <div class="pagerfanta">
        {{ pages|raw }}
    </div>
{% endblock %}
