{% extends '::base.html.twig' %}

{% block title %}О сайте{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('index'), 'title': 'Главная'},
    2: {'uri': path('about'), 'title': 'О сайте'}
    })}}
{% endblock %}

{% block content %}
    Сайт появился в 2006 году.<br />
    Был написан на WML без использования каких-либо скриптовых языков.<br />
    Постепенно сайт переписывался с использованием PHP и xHTML.<br />
    В 2013 году решено было полностью переписать сайт на новых технологиях.<br />
    Был использован PHP фреймворк <a href="http://symfony.com">Symfony 2</a>.
{% endblock %}
