{% extends '::base.html.twig' %}

{% block title %}О сайте{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    Сайт <em>wapinet.ru</em> появился в 2006 году.<br />
    Был написан на WML без использования каких-либо скриптовых языков.<br />
    Постепенно сайт переписывался с использованием PHP и xHTML.<br />
    В 2013 году было решено полностью переписать сайт на новых технологиях.<br />
    На данный момент используется PHP фреймворк <a rel="external" href="http://symfony.com">Symfony 2</a> и JavaScript фреймворк <a rel="external" href="http://jquerymobile.com">jQuery Mobile</a>.<br />
    Некоторые из наработок сайта можно найти на <a rel="external" href="https://github.com/Gemorroj">личной странице Github</a>.
{% endblock %}
