{% extends '::base.html.twig' %}

{% block title %}Загрузки, развлечения{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="#">Бесплатные загрузки (siza)</a></li>
        <li><a href="#">Приложения для телефонов (soft)</a></li>
        <li><a href="#">Java приложения и игры</a></li>
        <li><a href="#">Java игры (wapos)</a></li>
        <li><a href="#">Темы для телефонов</a></li>
        <li><a href="#">Частное фото (foto)</a></li>
        <li><a href="#">Эро библиотека (sexbib)</a></li>
        <li><a href="#">Для девушек</a></li>
        <li><a href="#">Матогенератор</a></li>
        <li><a href="#">Онлайн радио</a></li>
        <li><a href="#">БезБАШенные приколы</a></li>
        <li><a href="#">Библиотека (lib)</a></li>
        <li><a href="#">Полезная информация (Новости)</a></li>
        <li><a href="#">Полезная информация (Гороскоп на день)</a></li>
        <li><a href="#">Полезная информация (Курсы валют)</a></li>
        <li><a href="#">Полезная информация (Погода)</a></li>
    </ul>
{% endblock %}
