{% extends '::base.html.twig' %}

{% block title %}Загрузки{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="#">Бесплатные загрузки (siza)</a></li>
        <li><a href="#">Приложения для телефонов (soft)</a></li>
        <li><a href="#">Java приложения и игры</a></li>
        <li><a href="#">Java игры (wapos)</a></li>
        <li><a href="#">Темы для телефонов</a></li>
        <li><a href="#">Частное фото (foto)</a></li>
    </ul>
{% endblock %}