{% extends '::base.html.twig' %}

{% block title %}Лог разработки{% endblock %}
{% block breadcrumbs %}
    {{ wapinet_breadcrumbs() }}
{% endblock %}

{% block content %}
    <p>Последние {{ wapinet_hg_log }} комитов в репозиторий сайта.</p>
    <div class="ui-corner-all">
        {% for item in log %}
            <div class="ui-bar ui-bar-a">
                <h3>{{ item.date|wapinet_datetime }}</h3>
            </div>
            <div class="ui-body ui-body-a">
                <p>{{ item.summary }}</p>
            </div>
        {% else %}
            <div class="ui-body ui-body-a">
                <p>Репозиторий пуст.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
