{% extends '::base.html.twig' %}

{% block title %}Разработки с открытым кодом{% endblock %}
{% block menu %}
    {{wapinet_menu({
    1: {'uri': path('programming'), 'title': 'WEB мастерская'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a rel="external" href="https://github.com/Gemorroj/gmanager" title="Среда администрирования и разработки для WAP мастера">Gmanager</a></li>
        <li><a rel="external" href="https://github.com/Gemorroj/punbb-mod" title="Модификация форума Punbb под WAP">Punbb mod</a></li>
        <li><a rel="external" href="https://github.com/Gemorroj/noads-advanced" title="Блокировщик рекламы для браузера Opera">Noads Advanced</a></li>
        <li><a rel="external" href="https://github.com/Gemorroj/Archive_7z" title="PEAR пакет для работы с 7z архивами">Archive 7z</a></li>
        <li><a rel="external" href="https://github.com/Gemorroj/MP3_Id3" title="PEAR пакет для работы с MP3 Idv1 и Idv2 тегами">MP3 Id3</a></li>
    </ul>
    <p>Другие открытые проекты можно найти на <a rel="external" href="https://github.com/Gemorroj">личной странице Github</a>.</p>
{% endblock %}
