{% extends '::base.html.twig' %}

{% block title %}WEB мастерская{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('source_code') }}">Мои разработки</a></li>
        <li><a href="{{ path('buy_php_scripts') }}">Платные PHP скрипты</a></li>
        <li><a href="#">Бесплатные PHP скрипты</a></li>
        <li><a href="#">FTP менеджер (Punk 77)</a></li>
        <li><a href="#">FTP менеджер (Net2Ftp)</a></li>
        <li><a href="#">PHP валидатор</a></li>
        <li><a href="#">WML XHTML HTML валидатор</a></li>
        <li><a href="#">CSS валидатор</a></li>
        <li><a href="#">XML валидатор</a></li>
        <li><a href="#">Сканер WEB страниц</a></li>
        <li><a href="#">PHP обфускатор продвинутый</a></li>
        <li><a href="#">PHP обфускатор простой</a></li>
        <li><a href="#">Информация о домене или IP (whois)</a></li>
        <li><a href="#">Заработок в сети</a></li>
        <li><a href="#">Учебники (textbook)</a></li>
        <li><a href="{{ path('pagerank_index') }}">Анализ индексирования сайта</a></li>
    </ul>
{% endblock %}
