{% extends '::base.html.twig' %}

{% block title %}Полезные WEB приложения{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        <li><a href="{{ path('icq_index') }}">Все об ICQ</a></li>
        <li><a href="{{ path('mobile_code_index') }}">Телефонные коды</a></li>
        <li><a href="{{ path('browser_info') }}">Информация о браузере</a></li>
        <li><a href="{{ path('email_index') }}">Отправка E-mail</a></li>
        <li><a href="#">Отправка СМС</a></li>
        <li><a href="#">Полезная информация (Переводчик)</a></li>
        <li><a href="#">Переименование файлов</a></li>
        <li><a href="#">Создатель Java книг</a></li>
        <li><a href="#">Создатель jad файлов</a></li>
        <li><a href="#">Редактор MP3 тегов</a></li>
        <li><a href="#">Конвертер в Unicode</a></li>
        <li><a href="#">Просмотр Unicode символов</a></li>
    </ul>
{% endblock %}
