{% extends "base.html.twig" %}

{% block title %}Переименование файлов{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'}
    })}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('rename_index'), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет переименовать загруженный файл.</p>
        </div>
    </div>
{% endblock %}
