{% extends '::base.html.twig' %}

{% block title %}Погода - {{ countryName }}{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('weather_country'), 'title': 'Погода'}
    })}}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">{% autoescape 'js' %}
        $(document).on("pagebeforeshow", "#page", function () {
            Autocomplete.link('{{ path('weather_show', {'country': country}) }}/', '{{ path('weather_city_search', {'country': country}) }}');
        });
        {% endautoescape %}</script>
{% endblock %}

{% block content %}
    <form>
        <label for="autocomplete">Город:</label>
        <input type="search" id="autocomplete" placeholder="Поиск..." />
        <ul id="suggestions" data-role="listview" data-inset="true"></ul>
    </form>
{% endblock %}
