{% extends '::base.html.twig' %}

{% block title %}Погода{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'}
    })}}
{% endblock %}

{% block javascripts %}
    <script>{% autoescape 'js' %}
        $(document).on("pagebeforeshow", "#page", function () {
            Autocomplete.link('{{ path('weather_city') }}/', '{{ path('weather_country_search') }}');
        });
        {% endautoescape %}</script>
{% endblock %}

{% block content %}
    <form>
        <label for="autocomplete">Страна:</label>
        <input type="search" id="autocomplete" placeholder="Поиск..." />
        <ul id="suggestions" data-role="listview" data-inset="true"></ul>
    </form>
{% endblock %}
