{% extends '::base.html.twig' %}

{% block title %}Информация{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <p>
        Пользуясь сервисом, вы подтверждаете, что прочитали, поняли и согласны соблюдать пользовательское соглашение.
        Администрация оставляет за собой право по своему личному усмотрению изменять или дополнять соглашение в любое время без предварительного и последующего уведомления.
        Администрация будет публиковать изменения в правилах на этой странице.
        Ваше дальнейшее использование сервиса после любых подобных изменений означает ваше согласие с таким изменениями и дополнениями.
        В вашей личной ответственности остается регулярный просмотр данной страницы для ознакомления с действующей редакцией соглашения.
    </p>
    <p>
        Если по тем или иным причинам одна или несколько норм пользовательского соглашения является недействительной или не имеющей юридической силы, это не оказывает влияния на действительность или применимость остальных норм.
    </p>
    <p>
        Администрация оставляет за собой право по своему собственному усмотрению изменять или удалять любую публикуемую информацию, приостанавливать, ограничивать или прекращать ваш доступ к сервису  в любое время по любой причине или без объяснения причин, с предварительным уведомлением или без такового, не отвечая за любой вред, который может быть причинен вам таким действием.
    </p>
    <h2>Запрещается</h2>
    <div>
        <ul>
            <li>
                Размещать на сервисе:
                <ul>
                    <li>материалы, противоречащие законодательству РФ;</li>
                    <li>архивы с зашифрованным списком файлов;</li>
                    <li>информацию, которая содержит угрозы, дискредитирует или оскорбляет других пользователей или третьих лиц, является вульгарной, непристойной, носит мошеннический характер, посягает на личные или публичные интересы, пропагандирует расовую, религиозную, этническую ненависть или вражду;</li>
                    <li>объекты интеллектуальной собственности, копирование которых запрещено владельцами оригинала;</li>
                    <li>файлы, которые содержат или могут содержать вирусы или вредоносные программы;</li>
                    <li>информацию, которая, по личному мнению Администрации, является нежелательной.</li>
                </ul>
            </li>
            <li>Публиковать ссылки на файлы в спамерских рассылках;</li>
            <li>Использовать сервис любым способом, который может помешать нормальному его функционированию;</li>
            <li>Использовать автоматизированные программы для сбора информации или взаимодействия с сервисом.</li>
            <li>Использовать сервис в коммерческих целях, таких как распространение рекламы или показ баннеров.</li>
        </ul>
    </div>
    <h2>Права на информацию</h2>
    <div>
        <ul>
            <li>Информация не может быть использована  без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование материала любым лицом;</li>
            <li>Размещая информацию, вы предоставляете другим пользователям неисключительное право на его использование, кроме случаев, когда такое использование причиняет или может причинить вред охраняемым законом интересам правообладателя;</li>
            <li>Использование размещённой информации допускается при условии сохранения всех знаков авторства или других уведомлений об авторстве, сохранении информации в неизменном виде;</li>
            <li>Вы не имеете права публиковать объекты исключительных прав при отсутствии явным образом выраженного согласия правообладателя на такие действия;</li>
            <li>Размещая свою информацию, вы автоматически безвозмездно предоставляете Администрации неисключительное право на её использование путем копирования, публичного исполнения, воспроизведения, переработки, перевода и распространения.</li>
        </ul>
    </div>
    <h2>Ответственность</h2>
    <div>
        <ul>
            <li>Вы несете личную ответственность за любую информацию, которую публикуете на сервисе;</li>
            <li>Администрация не несет никакой ответственности за любую размещённую информацию на сервисе или с его помощью;</li>
            <li>Администрация не несет ответственности за любые проблемы, связанные с доступом к сервису и информации размещенной на нём;</li>
            <li>Ни при каких обстоятельствах администрация не несет ответственности за любой вред или ущерб, вызванный или связанный с работой сервиса.</li>
        </ul>
    </div>
    <h2>Хранение файлов</h2>
    <div>
        <ul>
            <li>Разрешается закачивать файлы размером до 50 мегабайт;</li>
            <li>Файлы автоматически удаляются через 1 год после из добавления на сервис;</li>
            <li>Администрация оставляет за собой право удалять любые файлы или ограничивать к ним доступ без предупреждения и без объяснения причин.</li>
        </ul>
    </div>
    <p>
        Если вы обнаружили информацию, размещённую против правил, пожалуйста, сообщите нам об этом на email: {{ wapinet_contact_email }}.
    </p>
    <h2>Конфиденциальность</h2>
    <div>
        <ul>
            <li>Конфиденциальность гарантируется только в случае соблюдения пользовательского соглашения;</li>
            <li>Администрация оставляет за собой право публиковать все данные о пользователях для решения юридических вопросов, в случае нарушения пользовательского соглашения или по просьбе правоохранительных органов;</li>
            <li>Конфиденциальными данными считаются пароль и ip-адрес;</li>
            <li>В случае жалобы на файл письмо с жалобой и данные об авторе не считаются конфиденциальными и будут опубликованы;</li>
            <li>Пароли к файлам хранятся в хешированном виде. Единственный способ восстановить доступ — сменить пароль.</li>
        </ul>
    </div>
{% endblock %}
