{% extends '::base.html.twig' %}

{% block title %}Файлы{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    {% include '@Wapinet/File/list_content.html.twig' with {'files': files} %}

    <div class="pagerfanta">
        {{ pagerfanta(files) }}
    </div>
{% endblock %}
