{% extends '::base.html.twig' %}

{% block title %}Файлы{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('downloads'), 'title': 'Загрузки, развлечения'},
    2: {'uri': path('file_index'), 'title': 'Файлообменник'}
    })}}
{% endblock %}

{% block content %}
    <ul data-role="listview" data-inset="true">
        {% for file in files %}
            <li>
                {{ dump(file) }}
            </li>
        {% else %}
            <li>
                Нет файлов для отображения.
            </li>
        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(files) }}
    </div>
{% endblock %}
