{% block captcha_widget %}
    <img id="{{ captcha_id }}" src="{{ captcha_url }}" alt="код" />
    <a data-role="button" data-inline="true" data-mini="true" data-icon="refresh" class="captcha-reload" href="#" data-id="{{ captcha_id }}">Обновить</a>
    {{ form_widget(form, {'attr': {'autocomplete': 'off'}}) }}
{% endblock %}
