<div data-role="collapsible">
    <h4>Содержимое торрента</h4>
    <ul data-role="listview" data-inset="true">
        {% for entry in wapinet_torrent_list(file.file) %}
            <li class="directory" data-icon="false">
                <a href="#" class="no-link">{{ entry.path }}
                    <span class="ui-li-count">{{ entry.size|wapinet_size }}</span>
                </a>
            </li>
        {% else %}
            <li>
                Не удается открыть торрент.
            </li>
        {% endfor %}
    </ul>
</div>
