{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post" class="fos_user_profile_edit" data-ajax="false">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Обновить" />
    </div>
</form>
