<div class="fos_user_user_show">
    <p>Логин: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>{% include 'WapinetBundle::avatar.html.twig' with {'avatar': user.avatar, 'alt': user.username} %}</p>
</div>
