<div class="fos_user_user_show">
    <table data-role="table" id="profile-table" class="ui-responsive table-stroke">
        <thead>
        <tr>
            <th data-priority="1"></th>
            <th data-priority="2"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Логин</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>
                {% if user.sex == constant('Wapinet\\UserBundle\\Entity\\User::SEX_M') %}
                    Мужской
                {% elseif user.sex == constant('Wapinet\\UserBundle\\Entity\\User::SEX_F') %}
                    Женский
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>День рождения</td>
            <td>{{ user.birthday is null ? 'Не указано' : user.birthday|wapinet_date }}</td>
        </tr>
        <tr>
            <td>Аватар</td>
            <td>
                {% if user.hasAvatar %}
                    {% include 'WapinetBundle::avatar.html.twig' with {'user': user} %}
                {% else %}
                    Не указан
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% if app.user.id == user.id %}
    <a data-role="button" data-inline="true" href="{{ path('fos_user_profile_edit') }}">Редактировать профиль</a>
{% endif %}
