.fos_comment_form_errors {
    color: #ff0000;
}
.fos_comment_reply_prototype {
    display: none;
}
.fos_comment_comment_show {
    color: #555;
}
.fos_comment_comment_score {
    display: inline-block;
    vertical-align: middle;
}
.fos_comment_comment_reply.fos_comment_replying a.fos_comment_comment_reply_show_form {
    display: none;
}

.fos_comment_comment_reply {
    text-align: right;
}
.fos_comment_comment_reply {
    text-align: left;
    /*margin-top: 1em;*/
    /*padding: 1em 20px;*/
    padding: 0 1em 0.5em;
    /*background: #d6d6d6;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fos_comment_comment_reply_show_form {
    /*padding: 2px 5px;*/
    font-size: 0.8em;
}
.fos_comment_comment_body {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.fos_comment_comment_avatar {
    margin-right: 10px;
    float: left;
}
.fos_comment_comment_text_online {
    float: left;
}
