{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}Мониторинг{% endblock %}

{% block content_header %}
<div class="row">
    <div class="col-sm-5">
        <h1 class="title">Мониторинг</h1>
    </div>
</div>
{% endblock content_header %}

{% block main %}
    todo
{% endblock main %}
