<div data-role="collapsible">
    <h4>Содержимое плейлиста</h4>
    <ul data-role="listview" data-inset="true">
        {% for entry in wapinet_playlist_list(file.file) %}
            <li class="directory" data-icon="false">
                <a href="#" class="no-link">
                {% for tag in entry.extTags %}
                    {{ tag.title is defined ? tag.title : entry.path }}
                {% else %}
                    {{ entry.path }}
                {% endfor %}
                </a>
            </li>
        {% else %}
            <li>
                Не удается открыть плейлист.
            </li>
        {% endfor %}
    </ul>
</div>
