{% extends "base.html.twig" %}

{% block title %}Android{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Сведения и настройки</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#*#4636#*#*</p>
        </div>
            <div class="ui-bar ui-bar-a">
                    <h3>Voice Dialer Logging Enabled</h3>
            </div>
            <div class="ui-body ui-body-a">
                    <p>*#*#8351#*#*</p>
            </div>
            <div class="ui-bar ui-bar-a">
                    <h3>Voice Dialer Logging Disabled</h3>
            </div>
            <div class="ui-body ui-body-a">
                    <p>*#*#8350#*#*</p>
            </div>
            <div class="ui-bar ui-bar-a">
                    <h3>FieldTest</h3>
            </div>
            <div class="ui-body ui-body-a">
                    <p>*#*#7262626#*#*</p>
            </div>
            <div class="ui-bar ui-bar-a">
                    <h3>PUK Unlock (from emergency dial screen)</h3>
            </div>
            <div class="ui-body ui-body-a">
                    <p>**05*&lt;PUK Code&gt;*&lt;enter a new pin&gt;*&lt;confirm the new pin&gt;#</p>
            </div>
            <div class="ui-bar ui-bar-a">
                    <h3>Частичный сброс к заводским установкам</h3>
            </div>
            <div class="ui-body ui-body-a">
                    <p>*#*#7780#*#*</p>
                    <details>Настройки Google учетной записи хранятся в памяти телефона<br />
Системы и приложений и настроек<br />
Загруженные приложения<br />
Не меняется:<br />
Текущее системное программное обеспечение и приложения в комплекте<br />
SD-карты файлы e.g. фотографии, музыкальные файлы и т.д.<br />
PS: Как только вы введете этот код, вы увидите экран с просьбой нажать на «Reset» кнопку. Таким образом, вы получите возможность отмены операции.</details>
            </div>

        <div class="ui-bar ui-bar-a">
                <h3>Полный сброс к заводским установкам</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*2767*3855#</p>
                <details>Этот код  удалит все файлы и параметры, включая внутреннюю память. Он также осуществит переустановку прошивки телефона.<br />
PS: Как только вы введете этот код, отменить операцию будет не возможно, кроме как удалить аккумулятор из телефона. Так что подумайте дважды, прежде чем использовать этот код.</details>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Информация о камере телефона</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#34971539#*#*</p>
                <details>Показывает следующие параметры:<br />
Обновление прошивки камеры в образ (не пытайтесь повторить этот вариант)<br/>
Обновление прошивки камеры в SD карты<br/>
Получить версию прошивки камеры<br/>
Получить обновление прошивки №<br/>
PS: Никогда не используйте первый вариант в противном случае ваша камера телефона перестанет работать, и вы должны будете нести телефон в сервисный центр для переустановки прошивки камеры.</details>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Изменение режима кнопки «Отбой / Вкл.Выкл.»</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#7594#*#*</p>
                <details>По умолчанию, при длительном нажатие кнопки, вам будет показан экран с предложением выбрать любой вариант из Silent режима, режим в Самолете и выключение питания.<br/>
Вы можете изменить предложенные варианты используя этот код. К примеру вы можете сделать так чтобы телефон сразу же выключался, без выбора из меню нужного варианта.</details>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Файл менеджер</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#273283*255*663282*#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Режим обслуживания</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#197328640#*#*</p>
                <details>Вы можете запускать различные тесты и изменять настройки в сервисном режиме для WLAN, GPS и Bluetooth.</details>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>WLAN</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#232339#*#* или *#*#526#*#* или *#*#528#*#*</p>
                <details>используйте кнопку «Меню» для запуска различных тестов.</details>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>MAC адрес WiFi</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#232338#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>GPS тест</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#1472365#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>GPS тест 2</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#1575#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Bluetooth тест</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#232331#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Адрес устройства Bluetooth</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#232337#*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Служба GTalk</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#8255#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Версии Firmware КПК, телефон, H / W, RFCallDate</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#4986*#2650468*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Версии Firmware PDA и телефон</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#1234#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Версии Firmware FTA SW</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#1111#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Версии Firmware FTA HW</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#2222#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Версии Firmware КПК, телефон, CSC, Время создания, количество изменений</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#44336#*#*</p>
        </div>

    <div class="ui-bar ui-bar-a">
            <h3>Тест Пакетные Loopback</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#0283#*#*</p>
    </div>
    <div class="ui-bar ui-bar-a">
            <h3>LCD тест</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#0*#*#*</p>
    </div>
    <div class="ui-bar ui-bar-a">
            <h3>Мелодия тест</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#0673#*#*</p>
    </div>
    <div class="ui-bar ui-bar-a">
            <h3>Мелодия тест 2</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#0289#*#*</p>
    </div>
    <div class="ui-bar ui-bar-a">
            <h3>Тест вибрации и подсветки</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#0842#*#*</p>
    </div>
    <div class="ui-bar ui-bar-a">
            <h3>Сенсорный экран версия</h3>
    </div>
    <div class="ui-body ui-body-a">
            <p>*#*#2663#*#*</p>
    </div>
        <div class="ui-bar ui-bar-a">
                <h3>Сенсорный экран тест</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#2664#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>Датчик движения</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#0588#*#*</p>
        </div>
        <div class="ui-bar ui-bar-a">
                <h3>RAM версия</h3>
        </div>
        <div class="ui-body ui-body-a">
                <p>*#*#3264#*#*</p>
        </div>
</div>
{% endblock %}
