{% extends "::base.html.twig" %}

{% block title %}Android{% endblock %}

{% block content %}
    <div>
        *#*#4636#*#* - Сведения и настройки<br/>
        *#*#8351#*#* - Voice Dialer Logging Enabled<br/>
        *#*#8350#*#* - Voice Dialer Logging Disabled<br/>
        *#*#7262626#*#* - FieldTest<br/>
        **05*&lt;PUK Code&gt;*&lt;enter a new pin&gt;*&lt;confirm the new pin&gt;# - PUK Unlock (from emergency dial screen)<br/>
        <br/>
        *#*#4636#*#* - Этот код может быть использован для получения интересной информации о телефоне и аккумулятора. Он показывает следующие 4 меню на экране:<br/>
        Информация о телефоне<br/>
        Информация об аккумуляторах<br/>
        Статистика Аккумулятора<br/>
        Статистика использования<br/>
        <br/>
        *#*#7780#*#* - Этот код может быть использован для сброса заводских установок.<br/>
        Настройки Google учетной записи хранятся в памяти телефона<br/>
        Системы и приложений и настроек<br/>
        Загруженные приложения<br/>
        Не меняется:<br/>
        Текущее системное программное обеспечение и приложения в комплекте<br/>
        SD-карты файлы e.g. фотографии, музыкальные файлы и т.д.<br/>
        PS: Как только вы введете этот код, вы увидите экран с просьбой нажать на «Reset» кнопку. Таким образом, вы получите возможность отмены операции.<br/>
        <br/>
        *2767*3855# - Подумайте, прежде чем вводить этот код. Этот код используется для сброса заводских установок.  Этот код  удалит все файлы и параметры, включая внутреннюю память. Он также осуществит переустановку прошивки телефона.<br/>
        PS: Как только вы введете этот код, отменить операцию будет не возможно, кроме как удалить аккумулятор из телефона.  Так что подумайте дважды, прежде чем использовать этот код.<br/>
        <br/>
        *#*#34971539#*#* - Этот код используется для получения информации о камере телефона. Он показывает следующие четыре параметра:<br/>
        Обновление прошивки камеры в образ (не пытайтесь повторить этот вариант)<br/>
        Обновление прошивки камеры в SD карты<br/>
        Получить версию прошивки камеры<br/>
        Получить обновление прошивки №<br/>
        ВНИМАНИЕ: Никогда не используйте первый вариант в противном случае ваша камера телефона перестанет работать, и вы должны будете нести телефон в сервисный центр для переустановки прошивки камеры.<br/>
        <br/>
        *#*#7594#*#* - Этот код может быть использован для изменения режима кнопки «Отбой / Вкл.Выкл.». По умолчанию, при длительном нажатие кнопки, вам будет показан экран с предложением выбрать любой вариант из Silent режима, режим в Самолете и выключение питания.<br/>
        Вы можете изменить предложенные варианты используя этот код. К примеру вы можете сделать так чтобы телефон сразу же выключался, без выбора из меню нужного варианта.<br/>
        <br/>
        *#*#273283*255*663282*#*#* - Этот код открывает файл менеджер, где вы можете бэкапить свои файлы, например Изображения, звуки, видео и голосовые памятки.<br/>
        *#*#197328640#*#* - Этот код можно использовать для входа в режим обслуживания. Вы можете запускать различные тесты и изменять настройки в сервисном режиме для WLAN, GPS и Bluetooth<br/>
        *#*#232339#*#* или *#*#526#*#* или *#*#528#*#* - WLAN (используйте кнопку «Меню» для запуска различных тестов)<br/>
        *#*#232338#*#* - показывает MAC адрес WiFi<br/>
        *#*#1472365#*#* - GPS тест<br/>
        *#*#1575#*#* - Еще один тест GPS<br/>
        *#*#232331#*#* - Bluetooth тест<br/>
        *#*#232337#*# - Показывает адрес устройства Bluetooth<br/>
        *#*#8255#*#* - Этот код может быть использован для запуска GTalk службы.<br/>
        <br/>
        Коды для получения информации о версии Firmware:<br/>
        *#*#4986*#2650468*#* - КПК, телефон, H / W, RFCallDate<br/>
        *#*#1234#*#* - PDA и телефон<br/>
        *#*#1111#*#* - FTA SW версий<br/>
        *#*#2222#*#* - FTA HW версии<br/>
        *#*#44336#*#* - КПК, телефон, CSC, Время создания, количество изменений<br/>
        <br/>
        Коды для запуска различных заводских тестов:<br/>
        *#*#0283#*#* - Пакетные Loopback<br/>
        *#*#0*#*#* - LCD тест<br/>
        *#*#0673#*#* или *#*#0289#*#* - Мелодия тест<br/>
        *#*#0842#*#* - Устройство тест (тест вибрации и подсветки тест)<br/>
        *#*#2663#*#* - Сенсорный экран версия<br/>
        *#*#2664#*#* - Сенсорный экран тест<br/>
        *#*#0588#*#* - Датчик движения<br/>
        *#*#3264#*#* - RAM версия<br/>
    </div>
{% endblock %}
