{% extends "::base.html.twig" %}

{% block title %}Iphone{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Сервисное меню</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*3001#12345#* жмем Вызов (Call)</p>
            <details>В сервисном меню можно ознакомиться с параметрами сети оператора сотовой связи, узнать в какой именно соте в данный момент работает iPhone, а если обратить внимание на левый, верхний угол то можно увидеть качество сигнала в цифровом эквиваленте. Кроме перечисленных значений есть и другая полезная информация о сотовой сети.</details>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация обо всех видах переадресации поддерживаемых сервисов (голосовой, передача данных, факс, SMS и другие)</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#21# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация об определении номера входящего абонента</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#30# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация о блокировке исходящих поддерживаемых сервисов</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#33# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация о настройках ожидания вызова поддерживаемых сервисов</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#43# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отчет по количеству пропущенных звонков</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#61# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отчет о звонках, переадресованных в момент, когда телефон был недоступен</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#62# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отчет о звонках, переадресованных в момент, когда телефон был занят</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#67# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация о презентации идентифицированного соединенного номера</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#76# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отображает баланс по тарифному плану на кредитной основе</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#225# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отчет времени разговоров по тарифному плану на кредитной основе</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#646# жмем Вызов (Call)</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Выводит Ваш текущий баланс или информационное меню оператора, это зависит от используемого сотового оператора</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#777# жмем Вызов (Call)</p>
        </div>
    </div>

    <p>Следует отметить, возможно, не все вышеперечисленные сервисные коды для iPhone поддерживаются Вашим оператором, поэтому при вводе некоторых команд может появиться уведомление, гласящее о недоступности сервиса.</p>
{% endblock %}
