{% extends "::base.html.twig" %}

{% block title %}Maxon{% endblock %}

{% block content %}
    <div>
        *#9900# - Версия прошивки<br/>
        *#9901# - Batch<br/>
        *#9908# - Имена разработчиков<br/>
        *#9911# - Нет монитор<br/>
        *#9912# - Лист запретов<br/>
        *#9913# - bDAC<br/>
        *#9916# - Service Active<br/>
        *#9917# - Lock статус<br/>
        *#9919...9922# - Names, Maxxon, Audioloop, GCS<br/>
        *#9924# - Forced Location Update<br/>
        *#9931# - Отключение подсветки во время зарядки<br/>
        *#9937# - Разрядка батареи<br/>
        *#9958# - Остановить часы<br/>
        *#9959# - Запустить часы<br/>
        *#9960# - Установка контрастности<br/>
    </div>
{% endblock %}
