{% extends "::base.html.twig" %}

{% block title %}Mitsubishi Trium{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
        <p>Все "секретные" коды вводятся в телефон путем набора специального цифрового кода при одновременном удержании клавиши <strong>*</strong></p>

        <div class="ui-corner-all custom-corners">
                <div class="ui-bar ui-bar-a">
                        <h3>Версия прошивки</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>5806</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Форматирование</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>Вынимается аккумулятор, симку, подключаем зарядку, давим * и одновременно вводим 65512890</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Форматирование</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>В то время, когда телефон ещё работает вытащить батарейку. Затем вставить её обратно, включить его, и в момент прохождения ScanDisk-a вытащить повторно, и снова запустить</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>A littel bit diffrent</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>5807</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Test Mode для дата-кабеля</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>5472</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Активация/Деактивация нетмонитора</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>4329</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Активация/Деактивация нетмонитора 2</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>621342</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Выключение</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>3926</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Версия Firmware и MSID</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>936505</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Версия прошивки и версия епрома</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>5807</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Включение/Отключение горячего старта</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>850696</p>
                        <details>Если выкл, то при возникновении фатальной ошибки телефон выключится, а если вкл, то выдаст диагностическую информацию и зависнет.</details>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>Включение/Отключение трассировки SUP</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>781625</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>Lock NS level</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>574243</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Lock IMSI level</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>360608</p>
                </div>
                <div class="ui-bar ui-bar-a">
                        <h3>Lock IMSI level 2</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>362628</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>sp,corp lock</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>480896</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>sp,corp lock 2</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>482896</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>sp,corp lock 3</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>967678</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>Ext lock</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>476989</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>Lock net level</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>787090</p>
                </div>

                <div class="ui-bar ui-bar-a">
                        <h3>Lock net level</h3>
                </div>
                <div class="ui-body ui-body-a">
                        <p>787292</p>
                </div>
        </div>
{% endblock %}
