{% extends "::base.html.twig" %}

{% block title %}Philips{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Секретный код аппарата</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#7489*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация о SIM-карте</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#7378*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Информация о блокировке SIM-карты, Init и Flags</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#3377*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Активация/деактивация Sleep Mode</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#7693*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Просмотр информации о Sleep Mode</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#8463*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Открытие раздела Closed User Group в меню пользователя</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#2847*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отключение/включение подзарядки аккумулятора, когда телефон подключен к зарядному устройству</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#4377*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Проверка времени и даты через сеть</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#2558*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Отключение проверки времени и даты через сеть</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#2562*#</p>
        </div>
        <div class="ui-bar ui-bar-a">
            <h3>Включает и выключает Debug Call Mode</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>*#2255*#</p>
            <details>Если позвонить на занятую линию, то на дисплее появляются некоторые шестнадцатеричные коды аппарата</details>
        </div>
    </div>
{% endblock %}
