{% extends "base.html.twig" %}

{% block title %}Sagem{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs({
    1: {'uri': path('utilities'), 'title': 'Утилиты'},
    2: {'uri': path('mobile_code_index'), 'title': 'Телефонные коды'}
    })}}
{% endblock %}

{% block content %}
    <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-a">
            <h3>Инженерное меню</h3>
        </div>
        <div class="ui-body ui-body-a">
            <p>1. Записываем IMEI телефона. Чтобы узнать его набираем *#06#<br/>
2. IMEI имеет вид ABCDEFXXXXXXXX-Y<br/>
3. Записываем себе 8 последних цифр IMEI то есть ХХХХХХХХ<br/>
4. В обычном режиме набираете * и эти восемь цифр и ОК. Инженерное меню активировано. Входим в меню нажимаем * и в сервисном меню появляются дополнительные пункты и активизируется нетмонитор. При каждом выключении/включении телефона необходимо повторять процедуру активации</p>
        </div>
    </div>
{% endblock %}
