{% extends "base.html.twig" %}

{% block title %}Редактор аудио тегов{% endblock %}
{% block breadcrumbs %}
    {{wapinet_breadcrumbs()}}
{% endblock %}

{% block content %}
    {{ form_start(form, {'action': path('audio_tags_index'), 'method': 'POST', 'attr': {'data-ajax': 'false'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="ui-corner-all custom-corners">
        <div class="ui-body ui-body-a">
            <p>Сервис позволяет редактировать тэги аудио файлов.</p>
            <p>Поддерживаемые форматы:</p>
            <ul>
                <li>чтение: <em><abbr title="Monkey’s Audio — популярный формат кодирования цифрового звука без потерь">APE</abbr> (v1, v2), <abbr title="ID3 (от англ. Identify an MP3) — формат метаданных, наиболее часто используемый в звуковых файлах в формате MP3.">ID3</abbr> (v1.0, v1.1, v2.2, v2.3, v2.4), <abbr title="Lyrics3 — это первая попытка внедрить текст песни внутрь MP3 файла, реализованная Петром Стрнадом (Petr Strnad) во времена ID3v1.x. Текстовый блок помещался между строками LYRICSBEGIN и LYRICSEND в конце файла, перед тегом ID3v1.x">Lyrics3</abbr> (v1, v2)</em></li>
                <li>запись: <em><abbr title="ID3 (от англ. Identify an MP3) — формат метаданных, наиболее часто используемый в звуковых файлах в формате MP3.">ID3</abbr> (v1.0, v1.1, v2.3, v2.4)</em></li>
            </ul>
        </div>
    </div>
{% endblock %}
